@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}
* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.container{
  max-width: 1440px;
margin: 0 auto;
}

nav{
  display: flex;
  justify-content: space-between;
 align-items: center;
 height: 72px;

}

ul{
  display: flex;
  list-style: none;
  gap: 16px;

  
}
 button{
 all: unset;
  font-weight: 500;
  padding:6px  20px;
  background-color: var(--red);
  color: white;
 height: 32px;
 border-radius: 4px;
} 

.hero{
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap: 36px;
}
 h1{
 font-weight: 700;
 font-size: 110px;
 line-height: 102px;
}
.hero p{
  font-weight: 600;
  color: var(--gray);
}
.hero-btn{
  display: flex;
  gap: 40px;
  font-size: 24px;

}
.btn2{

  background-color: transparent;
  color: var(--gray);
  border: 1px solid;


}
.shopping {
  color: var(--gray);
  font-size: 16px;
  margin-bottom: 16px;
  


}
.brand-icons{
  display: flex;
  gap: 16px;
 
}
